* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
  }

  .body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
            &.dark {
        background: black;
    }
  }
  
  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    
  }
  
  header {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    position: relative;
    max-width: 100px;
  }
  
  header ul {
    position: relative;
    display: flex;
    
  }
  
  header nav {
    list-style: none;
  }
  
  header nav a {
    display: inline-block;
    color:white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
  }
  
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content .textBox {
    position: relative;
    max-width: 800px;
  }
  
  .content .textBox h1 {
    color: #333;
    font-size: 3em;
    line-height: 1em;
    font-weight: 600;
  }
  
  .content .textBox h1 span {
    color: #c3dc00;
    font-size: 1.2em;
    line-height: 0.5em;
    font-weight: 800;
  }
  .content .textBox h3 {
    color: black;
    font-size: 1.2em;
    line-height: 0.5 em;
    font-weight: 500;
  }
  
  .content .textBox p {
    color: #333;
   
  }
  
  .content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #c3dc00;
    color: #333;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
  }
  
  .content .imgBox img {
    max-width: 340px;
  }
  
  .thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display:  flex;
  }
  
  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5;
  }
  
  .thumb li:hover {
    transform: translate(-15px);
  }
  
  .thumb li img {
    max-width: 60px;
  }
  
  .sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-  50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci i  {
    display: inline-block;
    margin: 15px 0;
    transform: scale(2);
    filter: invert(1);
  }
  
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c3dc00;
    -webkit-clip-path: circle(600px at right 800px);
            clip-path: circle(600px at right 800px);
  }/*# sourceMappingURL=styles.css.map */

  
  .slide {
   
  position: relative;
  width: 50%;
  height: 80px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  .quien-somos{
    position: relative;
    float:right;
    left: 0.99%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0.9%;
  }

  .textBoxe{
  text-align: left;
  width: 300%;
  right: 300%;
  float: left;
 
  }
  .hamburger{
    position: absolute;
    top: 28px;
    right: 28px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to right, #e1f83595 0%, #c3dc00 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transforme .3s ease-in-out;
    transform: translate(110%);  
    box-shadow: 0 0  6px rgba(0, 0, 0, 0.5);
  }
  .spread {
    transform: translate(0);
  }

  .menu-navegacion a {
    color: #333;
    text-decoration: none;
  }
  /*----------------*/
  footer  {
    width: 100%;
    padding: 60px 0px;
    background: black;
    bottom: 0;
    position: flex;
    height: auto  ;

  }
  .container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    position: flex;
    bottom: 0;
    width: 100%;
  }
  .box_footer {
      display: flex;
      flex-direction: column;
      padding: 40px;

  }
  .box_footer .logo img {
    width: 100px;
  }
  .box_footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
  }
  .box_footer h2 {
    margin-bottom: 8px;
    color: #fff;
    font-weight: 700;
  }
  .box_footer a{
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
}

.box_footer a:hover{
    opacity: 0.8;
}

.box_footer a .fab{
    font-size: 20px;
}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #fff;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #fff;
}

.box_footer i{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}

.switch {
    background: #54618e;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after  {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgb(254, 254, 254);
      }
      &.active {
        background: rgba(119, 119, 99, 0.103);
        &::after{
            right: 0;
            left: unset;
        }
        
      }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
      }
   
   
  }
 
 